section {
    /* Position */
    margin: 0px 0px 24px 0px;
    padding: 16px;
    /* Display */
    background-color: var(--neutral-background-1-rest);
    box-shadow: 0px 4px 8px 0px #00000024, 0px 0px 2px 0px #0000001F;
    border: none;
    border-radius: 8px;
}

header {
    /* Position */
    position: sticky;
    top: 24px;
    margin: 0px 0px 24px 0px;
    padding: 16px;
    /* Display */
    background-color: var(--neutral-background-1-rest);
    box-shadow: 0px 8px 16px 0px #00000024, 0px 0px 2px 0px #0000001F;
    border: none;
    border-radius: 8px;
}